$primary-base-color: #3db565;
$text-color: #333333;
$bg-color: #262626;

$font-size-sm: 11px;
$font-size-md: 15px;
$font-size-lg: 18px;

$h1-fontsize: 50px;
$h2-fontsize: 34px;
$h3-fontsize: 26px;

$container-width-lg: 1153px;
$container-width-sm: 920px;